@font-face {
	font-family: '#{$font-name}';
	src: url('#{$font-path}/#{$font-filename}#{$font-weight-regular}.woff2?v=#{$font-version}') format('woff2'),
	url('#{$font-path}/#{$font-filename}#{$font-weight-regular}.woff?v=#{$font-version}') format('woff'),
	url('#{$font-path}/#{$font-filename}#{$font-weight-regular}.ttf?v=#{$font-version}') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: '#{$font-name}';
	src: url('#{$font-path}/#{$font-filename}#{$font-weight-light}.woff2?v=#{$font-version}') format('woff2'),
	url('#{$font-path}/#{$font-filename}#{$font-weight-light}.woff?v=#{$font-version}') format('woff'),
	url('#{$font-path}/#{$font-filename}#{$font-weight-light}.ttf?v=#{$font-version}') format('truetype');
	font-weight: 300;
	font-style: normal;
} 

@font-face {
	font-family: '#{$icon-font-name}';
	src: url('#{$icon-font-path}/#{$icon-filename}.woff2?v=#{$icon-version}') format('woff2'),
	url('#{$icon-font-path}/#{$icon-filename}.woff?v=#{$icon-version}') format('woff'),
	url('#{$icon-font-path}/#{$icon-filename}.ttf?v=#{$icon-version}') format('truetype');
	font-weight: normal;
	font-style: normal;
} 

