// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$gray-dark:              #37393c !default;
$gray:                   #55595c !default;
$gray-semilight:				 #97a0a6;
$gray-light:           	 #b5b7ba !default;
/*border-color*/
$gray-lighter:           #eaeced !default;
$gray-lightest:          #f6f8f9 !default;

$brand-primary:          #399fff !default;
$brand-secondary:        #69BE28 !default;
$brand-success:          #62c862 !default;
$brand-info:             #5bb0de !default;
$brand-warning:          #eed055 !default;
$brand-danger:           #d9534f !default;

$font-filename:         "firasans";
$font-name:        			"Fira Sans";
$font-family:      			"Fira Sans";
$font-weight-regular:   "regular";
$font-weight-light:   	"light";
$font-path:        			"../fonts" !default;
$font-version:          "1.0.0" !default;

$font-family-base: 			'Fira sans', 'sans-serif';

$icon-filename:         "mpo";
$icon-font-name:        "MP Icons";
$icon-font-family:      "mp";
$icon-font-weight:      "regular";
$icon-font-path:        $font-path;
$icon-font-size-base:   24px !default;
$icon-css-prefix:       icon !default;
$icon-version:          "1.0.3" !default;

$base-size: 						30px;

$border-radius: 				2px;
$border-color: 					#c7c9cc;//#d0d5d9;
$border-highlight: 			#77b1ff;

$background-light: 			$gray-lighter;
$background-highlight: 	#e4f0fa;
$background-active: 		#cae7ff;

$box-shadow: 						0 1px 2px rgba(0, 0, 0, .1), 1px 1px 2px rgba(0, 0, 0, .05);
$box-shadow-in: 				0 1px 2px rgba(0, 0, 0, .1) inset;
$box-shadow-strong: 		1px 1px 3px rgba(0, 0, 0, .1), 0 1px 5px rgba(0, 0, 0, .15);


$link-color: 						$brand-primary !default;
$link-hover-decoration:	none;
$link-hover-color: 			darken($link-color, 2%) !default;

$padding-side: 					12px;
$padding-text: 					8px;

$margin-block: 					8px;

$transition-duration: 	150ms;
