@import "footer"; 
@import "wps";
@import "process"; 

$header-height: 56px;

body {
	display: flex;
	flex-flow: row nowrap;
}

body > * {
	flex: 1 100%;
}

#head{
	height: $header-height;
	position: absolute;
	top: 0; left: 0; right: 0;
	background-color: mix($gray, $brand-primary, 90%);
	border-bottom: solid 1px $border-color;
	padding: 0 16px;
  
  & > a {
    position: absolute;
    right: 16px;
    top: 12px;
    color: #fff;
    border: 1px solid rgba(255,255,255,.2);
    border-radius: $border-radius;
    font-size: 13px;
    height: $base-size;
    line-height: $base-size - 2px;
    padding: 0 $padding-side;
    
    &:hover {
      background: rgba(255,255,255,.07);
      border: 1px solid rgba(255,255,255,.5);
      box-shadow: $box-shadow;
    }
  }
	
	nav {
		position: absolute;
		top: ($header-height - $base-size) / 2;
		right: 16px;
		display: inline-block;
		z-index: 9999;
		
		#menu {
			display: none;
			background-color: $gray-lightest;
			border: 1px solid $border-color;
			border-radius: $border-radius;
			box-shadow: $box-shadow-strong;
			padding: 0;
			
			li {
				list-style-type: none;
				min-height: $base-size;
				line-height: $base-size - 8px;
				padding: 4px $padding-text;
				
				&:hover {
					background-color: $background-highlight;
				}
			}
			
			a {
				color: inherit;
				display: block;
			}
		}
		
		&.menu-show #menu {
			
			display: block;
			position: absolute;
			top: $base-size + 1px;
			right: 0;
			margin: 0;
			min-width: 120px;
		}
	}
}

#wrapper{
	order: 2;
	flex: 3 auto;
	margin-top: $header-height;
	position: relative;
	/*position:absolute;
	top: $header-height;
	left: 30%;
	bottom: 0;
	right: 0;*/
	background-color: darken($gray-lighter, 5%);
	
	.map {
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		/*height: 100%;
		width: 100%;*/
	}
}

#processContainer{
	order: 1;
	flex: 1 auto;
	margin-top: $header-height;
	position: relative;
	/*position:absolute;
	top: $header-height;
	left: 0;
	bottom: 0;*/
	width: 15%;
	min-width: 320px;
	max-width: 500px;
	overflow:auto;
	background-color: darken($gray-lighter, 5%);
	border-right: solid 1px $border-color;
}

#footer{
  /*display: none;*/
	/*background-color: $gray-lightest;
	border: 1px solid $border-color;
	border-radius: $border-radius;
	box-shadow: $box-shadow-strong;
	padding: $padding-side;*/
	
	/*&:target {
		display: block;
		position: absolute;
		top: $header-height + $base-size;
		left: 50%;
		transform: translateX(-50%);
		width: 600px;
		max-width: 90%;
		z-index: 9999;
	}*/
}

.app-main-overlay{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: fade-out($gray-lighter, 0.3);
	
	.app-main-overlay-container{
    padding: 8px $padding-side $padding-side;
		background: $gray-lightest;
		border: solid 1px $gray-semilight;
		border-radius: $border-radius * 2;
		box-shadow: $box-shadow-strong;
		text-align:center;
		margin: $header-height + $base-size auto;
		width: 550px;
		max-width: 90%;
		position: relative;
		
		ul {
			list-style-type: none;
			padding: 0;
		}
		
		
		/*li a{
			opacity: 1;
			display: inline-block;
			background-color: #FF9D1B;
			padding: 1ex;
			margin-bottom: 1%;
			-webkit-transform: translate(0em);
			transform: translate(0em);
			transition: opacity 1000ms linear, transform 500ms linear 100ms, background-color 400ms linear;
			
			&:hover{
				background-color: #FEC57A
			}
		}*/
	}
	
}

.app-main-overlay-loader{
	top:0px;
	left:0px
}
.app-closeButton-overlay{
	position: absolute;
	top: 0;
	right: 0;
  z-index: 999;
}
.app-closeButton-overlay:hover{
	border:none !important;
}


.loaderBack{
	z-index: 5; 
	position: absolute; 
	background-color: rgba(255,255,255,.5); 
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity:1;
	text-align:center;
	
	span{
		vertical-align:middle;
		display: inline-block;
		height:100%;
	}
	
	.loaderimg{
		vertical-align: middle;
		width:20px;
		max-height: 100%;
		max-width: 100%;
	}
}

.output_message{
	background-color: lighten($brand-primary, 30%);
	border: solid 1px lighten($brand-primary, 10%);
	color: darken($brand-primary, 30%);
	border-radius: $border-radius;
	font-size: 13px;
	min-height: $base-size;
	word-wrap: break-word;
	text-align:center;
	margin: 0;
	padding: $padding-side/2;
}

.error_message{
	color: $brand-danger; 
	margin:.5% 4%;
}
.small_error_message{
	border-radius: $border-radius;
	position: relative;
	font-size: 13px;
	min-height: $base-size;
	text-align: center;
	background-color: lighten($brand-danger, 30%);
	border: solid 1px lighten($brand-danger, 10%);
	color: darken($brand-danger, 30%);
	margin: 0;
	margin-top: 1px;
	padding: $padding-side/2;
}
.small_error_message ~ .small_error_message{
	padding-top: 0;
	margin-top: 0;
}

.blue_error_message{
	background-color: lighten($brand-primary, 30%);
	border: solid 1px lighten($brand-primary, 10%);
	color: darken($brand-primary, 30%);
}
.colored_border{
	border: solid 1px lighten($brand-danger, 10%) !important;
	margin: 0 -1px;
	padding: 0 1px;
	
	.small_error_message {
		border: none;
		border-radius: 0;
		margin-left: -1px;
		margin-right: -1px;
		min-height: unset;
	}
}


