html {
	height: 100%;
	font-size: 16px;
	box-sizing: border-box;
	
	*, *::after, *::before {
		box-sizing: inherit;
	}
	
	body {
		color: $gray-dark;
		font-family: $font-family-base;
		font-size: 0.875rem;
		height: 100%;
		margin: 0;
		overflow: hidden;
		padding: 0;
	}
}

:focus, :active {outline:0;}
::-moz-focus-inner {
	border: 0;
}
select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}

h1,h2,h3 {
	font-weight: 400;
	margin: 0.25em 0 0.5em;
}

h1 {
  color: rgba(255,255,255,.5);
	font-weight: 300;
  font-size: 30px;
  line-height: 1;
  margin-top: 13px;
  
  span {
    color: rgba(255,255,255,.9);
    font-size: 24px;
    margin: 4px 0.5rem;
    position: relative;
    vertical-align: top;
    top: -7px;
    
    &::after {
      color: rgba(255,185,185,.8);
      content: 'for enviromnental health';
      position: absolute;
      top: 29px;
      left: 1px;
      width: 10rem;
      font-size: 14px;
      font-weight: 400;
    }
  }
      font-size: 14px;
      font-weight: 400;
    }
  }
}

a, a:active, a:link a:visited, a:focus{
	text-decoration:none;
}

input[type="text"]{
	background: rgba(255,255,255,0.75);
	border: 1px solid $border-color;
	border-radius: $border-radius;
	font-size: 13px;
	height: $base-size;
	padding: 0 $padding-side;
}
input[type="text"]:hover {
	border: 1px solid darken($border-color, 8%);
}
input[type="text"]:focus{
	background: #fff;
	border: 1px solid $border-highlight;
	outline-color: transparent;
}
input[type="text"]:active {
	border: 1px solid darken($border-highlight, 8%);
}

button, input[type="button"], input[type="reset"], select {
	@include button($background-light, $border-color, $border-highlight);
	cursor: pointer;
	font-size: 13px;
}

input[type="submit"] {
	@include button(lighten($brand-success, 5%), darken($brand-success, 15%), $border-highlight);
	color: darken($brand-success, 45%);
	font-size: 0.875rem;
	text-shadow: 0 0 1px rgba(0,0,0,.25);
	height: $base-size + 4px;
	
	&:focus {
		border-color: darken($brand-success, 20%)
	}
}

input[type="submit"][disabled] {
	@include button(desaturate(lighten($brand-success, 15%),10%), desaturate(darken($brand-success, 5%), 10%), $border-highlight);
	height: $base-size + 4px;
	opacity: 0.67;
}

select {
	/*-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: relative;
	
	&::after {
		content: 'v';
		position: absolute;
		right: $padding-side;
	}*/
}
option {
	background: $gray-lightest;
	color: $gray-dark;
	padding: $padding-side / 2 $padding-side;
	text-shadow: none;
	
	&:hover {
		background: $border-highlight;
		color: #fff;
	}
}

.nodisplay{
	display:none;
}
.novisible{
	visibility:hidden;
}
