/*border-color*/
@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/firasansregular.woff2?v=1.0.0") format("woff2"), url("../fonts/firasansregular.woff?v=1.0.0") format("woff"), url("../fonts/firasansregular.ttf?v=1.0.0") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/firasanslight.woff2?v=1.0.0") format("woff2"), url("../fonts/firasanslight.woff?v=1.0.0") format("woff"), url("../fonts/firasanslight.ttf?v=1.0.0") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "MP Icons";
  src: url("../fonts/mpo.woff2?v=1.0.3") format("woff2"), url("../fonts/mpo.woff?v=1.0.3") format("woff"), url("../fonts/mpo.ttf?v=1.0.3") format("truetype");
  font-weight: normal;
  font-style: normal; }
html {
  height: 100%;
  font-size: 16px;
  box-sizing: border-box; }
  html *, html *::after, html *::before {
    box-sizing: inherit; }
  html body {
    color: #37393c;
    font-family: "Fira sans", "sans-serif";
    font-size: 0.875rem;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0; }

:focus, :active {
  outline: 0; }

::-moz-focus-inner {
  border: 0; }

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000; }

h1, h2, h3 {
  font-weight: 400;
  margin: 0.25em 0 0.5em; }

h1 {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  font-size: 30px;
  line-height: 1;
  margin-top: 13px; }
  h1 span {
    color: rgba(255, 255, 255, 0.9);
    font-size: 24px;
    margin: 4px 0.5rem;
    position: relative;
    vertical-align: top;
    top: -7px; }
    h1 span::after {
      color: rgba(255, 185, 185, 0.8);
      content: 'for enviromnental health';
      position: absolute;
      top: 29px;
      left: 1px;
      width: 10rem;
      font-size: 14px;
      font-weight: 400; }
      font-size: 14px;
      font-weight: 400; }

a, a:active, a:link a:visited, a:focus {
  text-decoration: none; }

input[type="text"] {
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid #c7c9cc;
  border-radius: 2px;
  font-size: 13px;
  height: 30px;
  padding: 0 12px; }

input[type="text"]:hover {
  border: 1px solid #b2b4b9; }

input[type="text"]:focus {
  background: #fff;
  border: 1px solid #77b1ff;
  outline-color: transparent; }

input[type="text"]:active {
  border: 1px solid #4e9aff; }

button, input[type="button"], input[type="reset"], select {
  background-color: #eaeced;
  border: 1px solid #c7c9cc;
  border-radius: 2px;
  height: 30px;
  padding: 0 12px;
  cursor: pointer;
  font-size: 13px; }
  button *, input[type="button"] *, input[type="reset"] *, select * {
    vertical-align: middle; }
  button:not([disabled]):hover, input[type="button"]:not([disabled]):hover, input[type="reset"]:not([disabled]):hover, select:not([disabled]):hover {
    background-color: #edeeef;
    border: 1px solid #b2b4b9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.05); }
  button:focus, input[type="button"]:focus, input[type="reset"]:focus, select:focus {
    border: 1px solid #77b1ff;
    outline: 0; }
  button:active, input[type="button"]:active, input[type="reset"]:active, select:active {
    background-color: #e2e5e6;
    border: 1px solid #b2b4b9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset; }

input[type="submit"] {
  background-color: #75cf75;
  border: 1px solid #39a439;
  border-radius: 2px;
  height: 30px;
  padding: 0 12px;
  color: #123312;
  font-size: 0.875rem;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  height: 34px; }
  input[type="submit"] * {
    vertical-align: middle; }
  input[type="submit"]:not([disabled]):hover {
    background-color: #79d079;
    border: 1px solid #2f862f;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.05); }
  input[type="submit"]:focus {
    border: 1px solid #77b1ff;
    outline: 0; }
  input[type="submit"]:active {
    background-color: #6acb6a;
    border: 1px solid #2f862f;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset; }
  input[type="submit"]:focus {
    border-color: #339133; }

input[type="submit"][disabled] {
  background-color: #a1d5a1;
  border: 1px solid #5bb65b;
  border-radius: 2px;
  height: 30px;
  padding: 0 12px;
  height: 34px;
  opacity: 0.67; }
  input[type="submit"][disabled] * {
    vertical-align: middle; }
  input[type="submit"][disabled]:not([disabled]):hover {
    background-color: #a5d7a5;
    border: 1px solid #48a048;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.05); }
  input[type="submit"][disabled]:focus {
    border: 1px solid #77b1ff;
    outline: 0; }
  input[type="submit"][disabled]:active {
    background-color: #97d097;
    border: 1px solid #48a048;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset; }

select {
  /*-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  
  &::after {
  	content: 'v';
  	position: absolute;
  	right: $padding-side;
  }*/ }

option {
  background: #f6f8f9;
  color: #37393c;
  padding: 6px 12px;
  text-shadow: none; }
  option:hover {
    background: #77b1ff;
    color: #fff; }

.nodisplay {
  display: none; }

.novisible {
  visibility: hidden; }

#loader {
  overflow: hidden;
  margin: 4px;
  padding: 12px;
  background: #f6f8f9;
  border: solid 1px #c7c9cc;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.05); }

.urlLoader input {
  margin-bottom: 4px;
  width: 100%; }

#selectContainer {
  margin: 0;
  margin-top: 12px;
  padding-left: 0;
  list-style-type: none; }
  #selectContainer::before {
    content: 'Connected:';
    color: #434648;
    font-size: 1.125rem; }
  #selectContainer select {
    margin-top: 4px;
    width: 100%; }
  #selectContainer li {
    color: #434648;
    padding: 6px 0;
    border-bottom: 1px solid #d4d6d8; }
    #selectContainer li:last-of-type {
      border-bottom: none; }
  #selectContainer a:link, #selectContainer a:active, #selectContainer a:visited, #selectContainer a:focus {
    color: inherit;
    display: inline-block;
    font-weight: bold;
    line-height: 30px; }
  #selectContainer button {
    margin: -2px -2px 0 0; }

#closeButton {
  border: none;
  box-shadow: none;
  background-color: transparent;
  color: inherit;
  float: right;
  margin: 4px;
  padding: 0;
  width: 30px;
  cursor: pointer; }
  #closeButton::before {
    content: "f";
    display: inline-block;
    line-height: 30px !important;
    width: 30px;
    text-align: center;
    font: normal normal normal 24px/32px "MP Icons";
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    vertical-align: middle; }
  #closeButton:hover {
    color: #d9534f;
    transition: all 150ms linear; }

#selectDiv {
  padding: 6px 0; }
  #selectDiv::before {
    content: 'select process:';
    color: #434648; }

#formContainer {
  overflow: hidden;
  margin: 4px;
  min-height: 30px;
  background: #f6f8f9;
  border: solid 1px #c7c9cc;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.05); }
  #formContainer .metadat {
    background: #eff1f2;
    padding: 12px;
    margin: 0;
    border-radius: 2px 2px 0 0;
    border-bottom: 1px solid  #CEC6C6; }
  #formContainer input[type="submit"] {
    width: 100%;
    margin: 6px 0; }

.procesInput {
  position: relative;
  padding: 12px;
  border-top: none; }
  .procesInput .input_title {
    border: solid 1px transparent;
    border-radius: 2px; }
    .procesInput .input_title input, .procesInput .input_title select, .procesInput .input_title button {
      width: 100%; }
    .procesInput .input_title button + select {
      margin-top: 3px; }
  .procesInput label, .procesInput .input_title > span {
    font-weight: bold;
    line-height: 1.5;
    display: block;
    padding: 6px 3px 3px; }
  .procesInput .input_abstract {
    font-size: 13px;
    margin-bottom: 12px;
    padding: 4px 2px; }

#result {
  white-space: pre;
  font-weight: normal;
  font-family: monospace;
  font-size: .75rem; }

body {
  display: flex;
  flex-flow: row nowrap; }

body > * {
  flex: 1 100%; }

#head {
  height: 56px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #52606c;
  border-bottom: solid 1px #c7c9cc;
  padding: 0 16px; }
  #head > a {
    position: absolute;
    right: 16px;
    top: 12px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    font-size: 13px;
    height: 30px;
    line-height: 28px;
    padding: 0 12px; }
    #head > a:hover {
      background: rgba(255, 255, 255, 0.07);
      border: 1px solid rgba(255, 255, 255, 0.5);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.05); }
  #head nav {
    position: absolute;
    top: 13px;
    right: 16px;
    display: inline-block;
    z-index: 9999; }
    #head nav #menu {
      display: none;
      background-color: #f6f8f9;
      border: 1px solid #c7c9cc;
      border-radius: 2px;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1), 0 1px 5px rgba(0, 0, 0, 0.15);
      padding: 0; }
      #head nav #menu li {
        list-style-type: none;
        min-height: 30px;
        line-height: 22px;
        padding: 4px 8px; }
        #head nav #menu li:hover {
          background-color: #e4f0fa; }
      #head nav #menu a {
        color: inherit;
        display: block; }
    #head nav.menu-show #menu {
      display: block;
      position: absolute;
      top: 31px;
      right: 0;
      margin: 0;
      min-width: 120px; }

#wrapper {
  order: 2;
  flex: 3 auto;
  margin-top: 56px;
  position: relative;
  /*position:absolute;
  top: $header-height;
  left: 30%;
  bottom: 0;
  right: 0;*/
  background-color: #dce0e1; }
  #wrapper .map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*height: 100%;
    width: 100%;*/ }

#processContainer {
  order: 1;
  flex: 1 auto;
  margin-top: 56px;
  position: relative;
  /*position:absolute;
  top: $header-height;
  left: 0;
  bottom: 0;*/
  width: 15%;
  min-width: 320px;
  max-width: 500px;
  overflow: auto;
  background-color: #dce0e1;
  border-right: solid 1px #c7c9cc; }

#footer {
  /*display: none;*/
  /*background-color: $gray-lightest;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow-strong;
  padding: $padding-side;*/
  /*&:target {
  	display: block;
  	position: absolute;
  	top: $header-height + $base-size;
  	left: 50%;
  	transform: translateX(-50%);
  	width: 600px;
  	max-width: 90%;
  	z-index: 9999;
  }*/ }

.app-main-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(234, 236, 237, 0.7); }
  .app-main-overlay .app-main-overlay-container {
    padding: 8px 12px 12px;
    background: #f6f8f9;
    border: solid 1px #97a0a6;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1), 0 1px 5px rgba(0, 0, 0, 0.15);
    text-align: center;
    margin: 86px auto;
    width: 550px;
    max-width: 90%;
    position: relative;
    /*li a{
    	opacity: 1;
    	display: inline-block;
    	background-color: #FF9D1B;
    	padding: 1ex;
    	margin-bottom: 1%;
    	-webkit-transform: translate(0em);
    	transform: translate(0em);
    	transition: opacity 1000ms linear, transform 500ms linear 100ms, background-color 400ms linear;
    	
    	&:hover{
    		background-color: #FEC57A
    	}
    }*/ }
    .app-main-overlay .app-main-overlay-container ul {
      list-style-type: none;
      padding: 0; }

.app-main-overlay-loader {
  top: 0px;
  left: 0px; }

.app-closeButton-overlay {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999; }

.app-closeButton-overlay:hover {
  border: none !important; }

.loaderBack {
  z-index: 5;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  text-align: center; }
  .loaderBack span {
    vertical-align: middle;
    display: inline-block;
    height: 100%; }
  .loaderBack .loaderimg {
    vertical-align: middle;
    width: 20px;
    max-height: 100%;
    max-width: 100%; }

.output_message {
  background-color: #d2e9ff;
  border: solid 1px #6cb8ff;
  color: #00529f;
  border-radius: 2px;
  font-size: 13px;
  min-height: 30px;
  word-wrap: break-word;
  text-align: center;
  margin: 0;
  padding: 6px; }

.error_message {
  color: #d9534f;
  margin: .5% 4%; }

.small_error_message {
  border-radius: 2px;
  position: relative;
  font-size: 13px;
  min-height: 30px;
  text-align: center;
  background-color: #f4cecd;
  border: solid 1px #e27c79;
  color: #761c19;
  margin: 0;
  margin-top: 1px;
  padding: 6px; }

.small_error_message ~ .small_error_message {
  padding-top: 0;
  margin-top: 0; }

.blue_error_message {
  background-color: #d2e9ff;
  border: solid 1px #6cb8ff;
  color: #00529f; }

.colored_border {
  border: solid 1px #e27c79 !important;
  margin: 0 -1px;
  padding: 0 1px; }
  .colored_border .small_error_message {
    border: none;
    border-radius: 0;
    margin-left: -1px;
    margin-right: -1px;
    min-height: unset; }

.ol-popup {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 8px 16px;
  border-radius: 4px;
  bottom: 16px;
  left: -1px;
  transform: translateX(-50%); }

.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.ol-popup:after {
  border-top-color: rgba(255, 255, 255, 0.9);
  border-width: 8px;
  left: 50%;
  transform: translateX(-50%);
  /*margin-left: -8px;*/ }

/*.ol-popup:before {
	border-width: 9px;
  left: 50%;
  transform: translateX(-50%);
	margin-left: -9px;
}*/
.ol-popup p:first-child {
  margin: 8px 0 8px; }

#popup-content {
  white-space: nowrap; }
  #popup-content p {
    margin: 8px 0 4px; }

.ol-control {
  background: none; }

/*.ol-control button:focus, .ol-control button:hover{
	background-color:rgb(255,255,255);
}*/
.ol-control button {
  background-color: #f6f8f9;
  border: 1px solid #c7c9cc;
  border-radius: 2px;
  height: 30px;
  padding: 0 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-size: 13px;
  min-height: 32px;
  min-width: 32px;
  margin: 0;
  padding: 0;
  color: #37393c;
  overflow: hidden; }
  .ol-control button * {
    vertical-align: middle; }
  .ol-control button:not([disabled]):hover {
    background-color: #f9fafb;
    border: 1px solid #b2b4b9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.05); }
  .ol-control button:focus {
    border: 1px solid #77b1ff;
    outline: 0; }
  .ol-control button:active {
    background-color: #edf1f3;
    border: 1px solid #b2b4b9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset; }
  .ol-control button::before {
    display: inline-block;
    line-height: 32px;
    width: 32px;
    text-align: center;
    font: normal normal normal 24px/32px "MP Icons";
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    vertical-align: middle; }

/*HACK*/
@-moz-document url-prefix() {
  .ol-control button::before {
    transform: translate(0, -1px); } }
.ol-zoom {
  top: 1rem;
  left: 1rem; }

.ol-zoom button, .ol-editTool button {
  position: relative;
  z-index: 0;
  margin-top: -1px; }
  .ol-zoom button:first-child, .ol-editTool button:first-child {
    margin-top: 0; }
  .ol-zoom button:hover, .ol-editTool button:hover {
    z-index: 1; }

.bbox-control {
  display: none;
  /*position: absolute;
  top: calc(.5em + 2px + 8px + 5em);
  left: .5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  padding: 2px;
  overflow:hidden;*/ }

 /*
.bbox-control:hover{
	background:none;
}
.bbox-button{
	float:left;
}
.bbox-icon{
	margin: 0px auto;
	width: 73%;
	height: 76%;
	border-left: 1px solid #212121;
	border-bottom: 1px solid #212121;
}
.bbox-icon:after{
	content: "";
	display: inherit;
	border-right: 3px solid #212121;
	border-top: 3px solid #212121;
	width: 45%;
	height: 45%;
	float: right;
}
.ol-control > div.bboxcont{
	background-color: rgba(234, 233, 233, 0.8);
	overflow:hidden;
	height:0px;
	visibility:hidden;
	padding: 6.5%;
	margin-left:20%;
	transition: height 300ms linear;
}
div.bboxcont p{
	font-size:14px;	
}
div.bboxcont p span{
	font-weight:700;
}
.heighter{
	visibility:visible !important;
	height: 73px !important;
}*/
.ol-layerSwitcher {
  right: 1rem;
  top: 1rem;
  width: 45%;
  max-height: 32px;
  /*overflow:hidden;*/
  max-width: 32px;
  padding: 0;
  background: #f6f8f9;
  border-radius: 2px;
  transition: all 150ms linear; }
  .ol-layerSwitcher:not(.ol-collapsed) {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.05);
    border: solid 1px #c7c9cc;
    height: auto;
    max-width: 800px;
    max-height: 600px; }
    .ol-layerSwitcher:not(.ol-collapsed) button {
      border-color: #dcdedf;
      box-shadow: none; }
    .ol-layerSwitcher:not(.ol-collapsed) > button {
      color: #399fff;
      border: none;
      background-color: transparent;
      box-shadow: none; }
      .ol-layerSwitcher:not(.ol-collapsed) > button:hover {
        border: none;
        box-shadow: none;
        border-radius: 0 2px 2px 0; }
  .ol-layerSwitcher ul {
    padding: 0;
    margin: 0; }
  .ol-layerSwitcher li {
    list-style-type: none; }
  .ol-layerSwitcher button {
    float: right;
    margin: 0; }
  .ol-layerSwitcher li:not(#header-layer-li) {
    white-space: nowrap;
    /*cursor:pointer;*/
    margin: 0px;
    padding-left: 12px;
    border-top: 1px solid #dcdedf;
    clear: both;
    overflow: hidden;
    position: relative; }
    .ol-layerSwitcher li:not(#header-layer-li) span {
      display: inline-block;
      line-height: 48px;
      padding-left: 4px; }
    .ol-layerSwitcher li:not(#header-layer-li) ul {
      padding-left: 24px; }
    .ol-layerSwitcher li:not(#header-layer-li) li {
      padding-left: 6px; }
  .ol-layerSwitcher li#header-layer-li {
    line-height: 32px;
    height: 32px;
    background: #eaeced;
    color: #434648;
    font-size: 1.125rem;
    padding: 0 12px;
    white-space: nowrap; }
  .ol-layerSwitcher .ol-layerSwitcher-buttons {
    position: absolute;
    right: 12px;
    top: 9px; }
  .ol-layerSwitcher span#layer-title {
    font-size: .9em;
    margin-left: 4%; }
  .ol-layerSwitcher.ol-collapsed > ul {
    display: none; }

.ol-layerSwitcher-button {
  background: #eaeced !important;
  position: relative;
  z-index: 0;
  box-shadow: none;
  opacity: .5; }
  .ol-layerSwitcher-button:hover {
    z-index: 1;
    opacity: 1; }

.ol-layerSwitcher-button + .ol-layerSwitcher-button {
  margin-left: -1px;
  border-radius: 0 2px 2px 0; }

#ol-scroll-layers {
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  max-height: 80%; }

#stylerform, #formatform {
  position: relative;
  padding-bottom: 48px;
  text-align: left; }
  #stylerform:before, #formatform:before {
    border-bottom: 1px solid #c7c9cc;
    color: #72787c;
    display: block;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 16px;
    text-align: center; }
  #stylerform input[type="submit"], #formatform input[type="submit"] {
    position: absolute;
    bottom: 0;
    right: 0; }

#stylerform:before {
  content: 'Data Styling'; }

#formatform:before {
  content: 'Export Settings'; }

.export-selectFormatLabel, .export-selectEpsgLabel, .styler-selectLabel, .styler-intervalsLabel {
  display: block;
  padding: 8px; }

.styler-colorsLabel {
  padding: 0 8px;
  margin-bottom: 4px; }

.styler-containerRamp {
  display: inline-block;
  margin: 2px; }
  .styler-containerRamp input {
    display: none; }
  .styler-containerRamp img {
    border: solid 1px transparent;
    border-radius: 1px; }
  .styler-containerRamp input[type="radio"]:checked + img {
    border: solid 1px #399fff;
    box-shadow: 0 0 3px -1px #399fff; }

.ol-attribution {
  bottom: 1em;
  left: 1em;
  padding: 0; }

.ol-attribution:not(.ol-collapsed) {
  background: #f6f8f9;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.05);
  border: solid 1px #c7c9cc;
  height: auto; }
  .ol-attribution:not(.ol-collapsed) button {
    border: none;
    box-shadow: none;
    float: left;
    height: 30px;
    min-height: 30px; }
    .ol-attribution:not(.ol-collapsed) button:hover {
      border: none; }
  .ol-attribution:not(.ol-collapsed) ul {
    float: right; }
  .ol-attribution:not(.ol-collapsed) li {
    display: inline-block;
    margin: 0 2px;
    line-height: 30px;
    height: 30px; }
  .ol-attribution:not(.ol-collapsed) img {
    vertical-align: middle; }

.ol-attribution.ol-logo-only {
  bottom: 1em;
  height: 30px; }

/*
 ol control Edit Tool
 */
.ol-editTool {
  top: calc(1rem + 60px + 1rem);
  left: 1rem; }

.ol-editTool button:first-child {
  border-radius: 2px 2px 0px 0px; }

.ol-editTool button {
  border-radius: 0px 0px 0px 0px; }

.ol-editTool button:last-child {
  border-radius: 0px 0px 2px 2px; }

.ol-editTool .ol-editTool-editing {
  color: #399fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 1px 1px 2px rgba(0, 0, 0, 0.05) inset !important;
  position: relative;
  z-index: 1; }
  .ol-editTool .ol-editTool-editing:before {
    background: rgba(68, 187, 255, 0.1); }

/*.ol-point{
	background-color: #212121;
	width: 6px;
	height: 6px;
	border-radius: 3px;
}
.ol-point:first-child{
	margin-left:21%;
}
.ol-point:last-child{
	margin-left:55%;
}
.ol-line{
	background-color: #212121;
	width: 53%;
	height: 2px;
	-webkit-transform: rotate(65deg);
	transform: rotate(65deg);
	margin: -5px auto;
}
.ol-line:after{
	content: "";
	display: inline-block;
	background-color: inherit;
	width: 96%;
	height: inherit;
	-webkit-transform: rotate(85deg);
	transform: rotate(85deg);
	margin: 7px;
}
.ol-polygon{
	width: 35%;
	height: 70%;
	background-color: #212121;
	margin: 0px 20%;
}
.ol-polygon:after{
	content: "";
	background-color: inherit;
	display: block;
	height: 33%;
	width: 170%;
}*/
.ol-zoom-in::before {
  content: "A"; }

.ol-zoom-out::before {
  content: "z"; }

.ol-editTool [name="Point"]::before {
  content: "x"; }
.ol-editTool [name="LineString"]::before {
  content: "Q"; }
.ol-editTool [name="Polygon"]::before {
  content: "R"; }

.ol-layerSwitcher > button::before {
  content: "^";
  transform: translate(0, 1px); }
.ol-layerSwitcher .ol-selecter::before {
  color: #556270;
  content: "{"; }
.ol-layerSwitcher .ol-selecter:hover::before {
  color: #2092cf; }
.ol-layerSwitcher .ol-layerSwitcher-remove::before {
  color: #706060;
  content: "X"; }
.ol-layerSwitcher .ol-layerSwitcher-remove:hover::before {
  color: #d9534f; }
.ol-layerSwitcher .ol-layerSwitcher-save::before {
  content: "L"; }
.ol-layerSwitcher .ol-layerSwitcher-styler::before {
  content: "b"; }

/*
 a *jax loaders
 */
.loaderback {
  z-index: 5;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  text-align: center; }

#loaderBack span {
  vertical-align: middle;
  display: inline-block;
  height: 100%; }

.loaderimg {
  /*http://stackoverflow.com/questions/7273338/how-to-vertically-align-an-image-inside-div*/
  vertical-align: middle;
  width: 20px;
  max-height: 100%;
  max-width: 100%; }

/*# sourceMappingURL=build.css.map */
