.ol-popup {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.9);
	-webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	padding: 8px 16px;
	border-radius: 4px;
	bottom: 16px;
	left: -1px;
  transform: translateX(-50%);
}
.ol-popup:after, .ol-popup:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.ol-popup:after {
  border-top-color: rgba(255, 255, 255, 0.9);
	border-width: 8px;
	left: 50%;
  transform: translateX(-50%);
	/*margin-left: -8px;*/
}
/*.ol-popup:before {
	border-width: 9px;
  left: 50%;
  transform: translateX(-50%);
	margin-left: -9px;
}*/

.ol-popup p:first-child {
  margin: 8px 0 8px;
}
  
#popup-content{
  white-space:nowrap;
  
  p {
    margin: 8px 0 4px;
  }
}

.ol-control{
	background:none;
}
/*.ol-control button:focus, .ol-control button:hover{
	background-color:rgb(255,255,255);
}*/
.ol-control button {
  @include button($gray-lightest, $border-color, $border-highlight);
	box-shadow: $box-shadow;
	cursor: pointer;
	font-size: 13px;
	min-height: $base-size + 2;
	min-width: $base-size + 2;
	margin: 0;
	padding: 0;
	color: $gray-dark;
	overflow: hidden;
	
	&::before {
		display: inline-block;
		line-height: $base-size + 2;
		width: $base-size + 2;
		text-align: center;
		font: normal normal normal #{$icon-font-size-base}/#{$base-size + 2} '#{$icon-font-name}'; // shortening font declaration
		text-rendering: auto; 
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		transform: translate(0, 0); 
		vertical-align: middle;
	}
}
/*HACK*/
@-moz-document url-prefix() {
	
	.ol-control button{
		&::before {
			transform: translate(0, -1px);
		}
	}
}


.ol-zoom {
	top: 1rem;
	left: 1rem;
}


.ol-zoom, .ol-editTool {
	button {
		position: relative;
		z-index: 0;
		margin-top: -1px;
		
		&:first-child {
			margin-top: 0;
		}
		
		&:hover {
			z-index: 1;
		}
	}
	
}


.bbox-control{
	display: none;
	
	/*position: absolute;
	top: calc(.5em + 2px + 8px + 5em);
	left: .5em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	padding: 2px;
	overflow:hidden;*/
}/*
.bbox-control:hover{
	background:none;
}
.bbox-button{
	float:left;
}
.bbox-icon{
	margin: 0px auto;
	width: 73%;
	height: 76%;
	border-left: 1px solid #212121;
	border-bottom: 1px solid #212121;
}
.bbox-icon:after{
	content: "";
	display: inherit;
	border-right: 3px solid #212121;
	border-top: 3px solid #212121;
	width: 45%;
	height: 45%;
	float: right;
}
.ol-control > div.bboxcont{
	background-color: rgba(234, 233, 233, 0.8);
	overflow:hidden;
	height:0px;
	visibility:hidden;
	padding: 6.5%;
	margin-left:20%;
	transition: height 300ms linear;
}
div.bboxcont p{
	font-size:14px;	
}
div.bboxcont p span{
	font-weight:700;
}
.heighter{
	visibility:visible !important;
	height: 73px !important;
}*/


.ol-layerSwitcher{
	right:1rem;
	top:1rem;
	width:45%;
	max-height:$base-size + 2;
	/*overflow:hidden;*/
	max-width:$base-size + 2;
	padding: 0;
	background: $gray-lightest;
	border-radius: $border-radius;
	transition: all $transition-duration linear;

	&:not(.ol-collapsed){
		box-shadow: $box-shadow;
		border: solid 1px $border-color;
		height:auto;
		max-width:800px;
		max-height:600px;
		
		button {
      border-color: lighten($border-color, 8%);
			box-shadow: none;
		}
		
		> button {
      color: $brand-primary;
      border: none;
      background-color: transparent;
      box-shadow: none;
      
      &:hover {
        border: none;
        box-shadow: none;
        border-radius: 0 $border-radius $border-radius 0
      }
    }
	}
	ul {
		padding: 0;
		margin: 0;
	}
	li {
		list-style-type: none;
	}
	button{
		float:right;
		margin: 0;
	}

	li:not(#header-layer-li){
		white-space: nowrap;
		/*cursor:pointer;*/
		margin:0px;
		padding-left: $padding-side;
		border-top: 1px solid lighten($border-color, 8%);
		clear: both;
		overflow: hidden;
		position: relative;
		
		span {
			display: inline-block;
			line-height: $base-size + $padding-side * 1.5;
			padding-left: 4px;
		}
		
		ul {
			padding-left: $padding-side * 2;
		}
		li {
			padding-left: $padding-side / 2;
		}
	}

	li#header-layer-li{
		line-height: $base-size + 2;
		height: $base-size + 2;
		background: $gray-lighter;
		color: #434648;
		font-size: 1.125rem;
		padding: 0 $padding-side;
		white-space:nowrap;
	}
	
	.ol-layerSwitcher-buttons {
		position: absolute;
		right: $padding-side;
		top: $padding-side * 0.75;
	}
	
	span#layer-title{
		font-size:.9em;
		margin-left:4%;
	}
	&.ol-collapsed > ul{
		display:none;
	}
}

.ol-layerSwitcher-button {
  background: $background-light !important;
	position: relative;
	z-index: 0;
	box-shadow: none;
  opacity: .5;
	
	&:hover {
		z-index: 1;
    opacity: 1;
	}
}

.ol-layerSwitcher-button + .ol-layerSwitcher-button{
	margin-left: -1px;
	border-radius: 0 $border-radius $border-radius 0;
}

#ol-scroll-layers{
	overflow: auto; overflow-y: auto; overflow-x: hidden; width: 100%; max-height: 80%;
}



#stylerform, #formatform {
  position: relative;
  padding-bottom: 48px;
  text-align: left;
  
  &:before {
    border-bottom: 1px solid $border-color;
    color: lighten($gray, 12%);
    display: block;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  input[type="submit"] {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  
}

#stylerform  {
  &:before {
    content: 'Data Styling';
  }
}
#formatform  {
&:before {
  content: 'Export Settings';
}
}
  
}




.export-selectFormatLabel, .export-selectEpsgLabel, .styler-selectLabel, .styler-intervalsLabel {
  display: block;
  padding: 8px;
}
.styler-colorsLabel {
  padding: 0 8px;
  margin-bottom: 4px;
}
.styler-containerRamp {
  display: inline-block;
  margin: 2px;
  
  input {
    display: none;
  }
  
  img {
    border: solid 1px transparent;
    border-radius: 1px
  }
  
  input[type="radio"]:checked+img {
    border: solid 1px $brand-primary;
    box-shadow: 0 0 3px -1px $brand-primary
  }
}


.ol-attribution{
	bottom: 1em;
	left: 1em;
	padding: 0;
}

.ol-attribution:not(.ol-collapsed){
  background: $gray-lightest;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  border: solid 1px $border-color;
	height:auto;
	
	button {
    border: none;
    box-shadow: none;
		float:left;
    height: 30px;
    min-height: 30px;
    
    &:hover {
      border: none;
    }
	}
	ul {
		float:right
	}
	li {
		display: inline-block;
		margin: 0 2px;
		line-height: $base-size;
		height: $base-size;
	}
	img {
		vertical-align: middle;
	}
}
.ol-attribution.ol-logo-only {
	bottom: 1em;
	height: $base-size;
}



/*
 ol control Edit Tool
 */
.ol-editTool{
	top: calc(1rem + 60px + 1rem);
	left: 1rem;
}
.ol-editTool button:first-child{
	border-radius: 2px 2px 0px 0px;
}
.ol-editTool button{
	border-radius: 0px 0px 0px 0px;
}
.ol-editTool button:last-child{
	border-radius: 0px 0px 2px 2px;
}

.ol-editTool .ol-editTool-editing {
  color: $brand-primary;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 1px 1px 2px rgba(0, 0, 0, 0.05) inset !important;
  position: relative;
  z-index: 1;
  
  &:before {
    background: rgba(68, 187, 255, .1);
  }
}

/*.ol-point{
	background-color: #212121;
	width: 6px;
	height: 6px;
	border-radius: 3px;
}
.ol-point:first-child{
	margin-left:21%;
}
.ol-point:last-child{
	margin-left:55%;
}
.ol-line{
	background-color: #212121;
	width: 53%;
	height: 2px;
	-webkit-transform: rotate(65deg);
	transform: rotate(65deg);
	margin: -5px auto;
}
.ol-line:after{
	content: "";
	display: inline-block;
	background-color: inherit;
	width: 96%;
	height: inherit;
	-webkit-transform: rotate(85deg);
	transform: rotate(85deg);
	margin: 7px;
}
.ol-polygon{
	width: 35%;
	height: 70%;
	background-color: #212121;
	margin: 0px 20%;
}
.ol-polygon:after{
	content: "";
	background-color: inherit;
	display: block;
	height: 33%;
	width: 170%;
}*/

.ol-zoom-in::before {
	content: "A";
}
.ol-zoom-out::before {
	content: "z";
}
.ol-editTool {
	[name="Point"]::before{
		content: "x";
	}
	[name="LineString"]::before{
		content: "Q";
	}
	[name="Polygon"]::before{
		content: "R";
	}
}
.ol-layerSwitcher {
	& > button::before {
		content: "^";
		transform: translate(0, 1px);
	}
	.ol-selecter::before {
    color: #556270;
		content: "{";
	}
	.ol-selecter:hover::before {
    color: #2092cf;
  }
	.ol-layerSwitcher-remove::before {
    color: #706060;
		content: "X";
	}
	.ol-layerSwitcher-remove:hover::before {
    color: $brand-danger;
  }
	.ol-layerSwitcher-save::before {
		content: "L";
	}
	.ol-layerSwitcher-styler::before {
    content: "b";
  }
}





/*
 a *jax loaders
 */
.loaderback{
	z-index: 5; 
	position: absolute; 
	background-color: rgba(0, 0, 0, 0.1); 
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity:1;
	text-align:center;
}
#loaderBack span{
vertical-align:middle;
display: inline-block;
height:100%;
}
.loaderimg{ /*http://stackoverflow.com/questions/7273338/how-to-vertically-align-an-image-inside-div*/
	vertical-align: middle;
	width:20px;
	max-height: 100%;
	max-width: 100%;
} 
