 @mixin button($background, $border, $highlight) {
	 background-color: $background;
	 border: 1px solid $border;
	 border-radius: $border-radius;
	 height: $base-size;
	 padding: 0 $padding-side;
	 
	 * {
		 vertical-align: middle;
	 }
	 
	 &:not([disabled]):hover {
		 background-color: lighten($background, 1%);
		 border: 1px solid darken($border, 8%);
		 box-shadow: $box-shadow;
	 }
	 
	 &:focus {
		 border: 1px solid $highlight;
		 outline: 0;
	 }
	 
	 &:active  {
		 background-color: darken($background, 3%);
		 border: 1px solid darken($border, 8%);
		 box-shadow: $box-shadow-in;
	 }
 }
