#formContainer{
	overflow:hidden;
	margin: $padding-side / 3;
	min-height: $base-size;
	background: $gray-lightest;
	border: solid 1px $border-color;
	border-radius: $border-radius;
	box-shadow: $box-shadow;
	
	.metadat{
		background: lighten($gray-lighter, 2%);
		padding: $padding-side;
		margin: 0;
		border-radius: $border-radius $border-radius 0 0;
		border-bottom: 1px solid  #CEC6C6;
	}
	
	input[type="submit"] {
		width: 100%;
		margin: $padding-side/2 0;
	}
}

.procesInput{
	position:relative;
	padding: $padding-side;
	border-top: none;
	
	.input_title{
		border:solid 1px rgba(0,0,0,0);
		border-radius: $border-radius;
		
		input, select, button {
			width: 100%;
		}
		
		button + select {
			margin-top: $padding-side / 4;
		}
	} 
	
	label, .input_title > span {
		font-weight: bold;
		line-height: 1.5;
		display: block;
		padding: $padding-side/2 $padding-side/4 $padding-side/4;
	}
	
	.input_abstract{
		font-size: 13px;
		margin-bottom: $padding-side;
		padding: $padding-side/3 2px;
	}
}

#result {
  white-space: pre;
  font-weight: normal;
  font-family: monospace;
  font-size: .75rem;
}
