#loader{
	overflow:hidden;
	margin: $padding-side / 3;
	padding: $padding-side;
	background: $gray-lightest;
	border: solid 1px $border-color;
	border-radius: $border-radius;
	box-shadow: $box-shadow;
}
	
.urlLoader input{
	margin-bottom: $padding-side / 3;
	width: 100%;
}

#selectContainer {
	margin: 0;
	margin-top: $padding-side;
	padding-left: 0;
	list-style-type: none;
	
	&::before{
		content: 'Connected:';
		color: #434648;
		font-size: 1.125rem;
	}
	
	select{
		margin-top: $padding-side / 3;
		width: 100%;
	}
	
	li{
		color: #434648;
		padding: $padding-side / 2 0;
		border-bottom: 1px solid lighten($border-color, 5%);
		
		&:last-of-type{
			border-bottom: none;
		}
	}
	
	a:link, a:active, a:visited, a:focus{
		color:inherit;
    display: inline-block;
		font-weight: bold;
		line-height: $base-size;
	}
	
	button {
    margin: -2px -2px 0 0;
  }
}

#closeButton{
	border: none;
	box-shadow: none;
	background-color: rgba(0,0,0,0);
	color: inherit;
	float: right;
	margin: 4px;
	padding: 0;
	width: $base-size;
	cursor: pointer;
  
  &::before {
    content: "f";
    display: inline-block;
    line-height: $base-size !important;
    width: $base-size;
    text-align: center;
    font: normal normal normal #{$icon-font-size-base}/#{$base-size + 2} '#{$icon-font-name}'; // shortening font declaration
    text-rendering: auto; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0); 
    vertical-align: middle;
  }
	
	&:hover {
		color:$brand-danger;
		transition: all $transition-duration linear;
	}
}

#selectDiv{
	padding: $padding-side / 2 0;
	
	&::before{
		content: 'select process:';
		color: #434648;
	} 
}
