    html{
		height:100vh
	}
	*{margin:0;
	    font-size:100%;
	    /* font-family: Verdana,sans-serif; */
		font-family:Quattrocento Sans,sans-serif;
	}
	body{
		background-image:url("../icons/old_moon.png");
		min-height: 100vh
	}
	ul{
		padding-left:0px;
		list-style-type:none;
	}
	button{
		cursor:pointer;
	}
	button:active {
		outline: none;
		border: none;
	}

	button:focus {outline:0;}
	h1{
		font-size: 1.55em;
		padding-top: 0.55em;
		padding-bottom: 0.5em;
		padding-left:0.5em;
		background-color: #5BE45B;
		-moz-border-bottom-right-radius: 63px;
		-webkit-border-bottom-right-radius: 63px;
		-ms-border-bottom-right-radius: 63px;
		-o-border-bottom-right-radius: 63px;
		border-bottom-right-radius: 63px;
	}
	h1 span{
		display: inline-block;
		font-size: 0.7em;
		-webkit-transform: rotate(20deg);
		transform:rotate(20deg);
		background-color:#605E5E;
		color:#5BE45B;
	}
	h2{
		position:relative;
		margin:5px auto; 
		width:86%;
		font-size: 1.3em;
		font-weight:normal;
	}
	a:active, a:visited, a:focus{
		text-decoration:none;
	}
	a{
		text-decoration:none;
	}
	/*Control styling displaying, animating...*/
	.clearer{
		clear:both;
	}
	.nodisplay{
	    display:none;
	}
	.novisible{
		visibility:hidden;
	}
	.floater{
	   float: left;
	   position: relative;
	}
	.floaterright{
		float: right;
	    position: relative;
	}
	.opaciter{
		opacity:0.5;
	}
	.opaciterMinus{
		opacity:0 !important;
	}
	.translateBack{
		transform: translate(-10em) !important;
		-webkit-transform: translate(-10em) !important;
	}
	.selecter{
		margin:2px 10px;
		font-size:0.8em;
	}
	.maxheightTrans{
	  max-height:0px;
	  -webkit-transition: max-height 500ms linear;
	  -moz-transition: max-height 500ms linear;
	  -o-transition: max-height 500ms linear;
	  -ms-transition: max-height 500ms linear;
	  transition: max-height 500ms linear;
	}
	.maxheightPlus{
		max-height:100px;
	}
	.grey-font{
		color:#605E5E;
	}
	.dark-button{
		background-color:#07B407 !important;
	}
	/*
	Head
	*/
/* #show-options  #options{
	display:block;
} */
.menu-padding{
	padding-top: 1.35em;
  padding-bottom: 1.2em;
}
.grey-border-radius{
	border: solid 1px #AEA6A6;
	-webkit-border-radius: 4px;
	 -moz-border-radius: 4px;
	 -o-border-radius: 4px;
	 -ms-border-radius: 4px;
	border-radius:4px;
}
nav{
	float:right;
}
.app-main-overlay{
	position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
	background: none repeat scroll 0% 0% rgba(234, 233, 233, 0.95);
}
.app-main-overlay ul{
	text-align:center;
}
.app-main-overlay ul li a{
	opacity: 1;
	display: inline-block;
	background-color: #FF9D1B;
	padding: 1ex;
	margin-bottom: 1%;
	-webkit-transform: translate(0em);
	transform: translate(0em);
	-webkit-transition: opacity 1000ms linear, -webkit-transform 500ms linear 100ms, background-color 400ms linear;
	  -moz-transition: opacity 1000ms linear, transform 500ms linear 100ms, background-color 400ms linear;
	  -o-transition: opacity 1000ms linear, transform 500ms linear 100ms, background-color 400ms linear;
	  -ms-transition: opacity 1000ms linear, transform 500ms linear 100ms, background-color 400ms linear;
	  transition: opacity 1000ms linear, transform 500ms linear 100ms, background-color 400ms linear;
}
.app-main-overlay ul li a:hover{
	background-color: #FEC57A
}
.app-main-overlay-loader{
	top:0px;
	left:0px
}
.app-closeButton-overlay{
	float:none !important;
	font-size: 3em
}
.app-closeButton-overlay:hover{
	border:none !important;
}
#head{
	/*
	If responsive, dissable
	*/
	overflow:hidden;
	padding:0px 0px 3px 0px;
	background-color: rgba(234, 233, 233, 0.8);
	color:#212121;
}
#head img{
	float:left;
}
ul#menu{
  overflow:hidden;
  z-index:3;
  -webkit-transition: max-height 300ms linear;
	  -moz-transition: max-height 300ms linear;
	  -o-transition: max-height 300ms linear;
	  -ms-transition: max-height 300ms linear;
	  transition: max-height 300ms linear;
}
ul#menu li{
  float:left;
  /*border-right:solid 1px rgb(139,139,195);
  border-bottom:solid 1px rgb(139,139,195);*/
}
ul#menu li:hover{
  /*border-right:solid 1px #535375;*/
  background-color: #5BE45B; /*LIKE COnnect button*/
}
ul#menu a{
  padding-left: 1em;
  padding-right:1em;
  display:block;
  color:inherit;
  font-size:.9em;
}
	/*MAP*/
	.map {
        height: 400px;
        width: 100%;
    }
	/*
	Main wrapper for map and forms
	*/
	#wrapper{
	     position:relative;
		 margin: 0 auto;
		 width:97%;
	}
	/*
	Left loader for wps url
	*/
	#loader{
		overflow:hidden;
		float:left;
		position:relative;
		width:30%;
		background: none repeat scroll 0% 0% rgba(234, 233, 233, 0.8);
		margin: 4px 0.5% 4px auto;
		-webkit-border-radius: 4px;
	 -moz-border-radius: 4px;
	 -o-border-radius: 4px;
	 -ms-border-radius: 4px;
	border-radius:4px;
	}
	.urlLoader{
		text-align:center;
	}
	#selectContainer{
		position:relative;
		margin:8px auto 8px auto;
		width:96%;
	}
	#selectContainer li{
		padding:4px;
		border:solid 1px #AEA6A6;
		color:#AEA6A6;
		margin-top:4px;
	}
	#selectContainer a:link,#selectContainer a:active,#selectContainer a:visited, #selectContainer a:focus{
		color:inherit;
	} 
	#selectContainer a:link{
		color:inherit;
	} 
	#selectContainer a:hover{
		color:#5F5F5F;
	} 
	#closeButton{
		border: 1px solid #000;
		background-color: rgba(0,0,0,0);
		color: inherit;
		float: right;
		margin: 1px;
		border:inherit;
	}
	#closeButton:hover{
		color:#5F5F5F;
		border:solid 1px #5F5F5F; 
	}
	.selectDiv{
		overflow:hidden;
		clear:both;
	}
	/*
	Right form
	*/
	#formContainer{
		max-width:100%;
	}
	/*Process form*/
	.procesInput{
		 width:800px;
		 height:auto;
		 position:relative;
		 margin:0 auto 20px auto;
		 max-width:100%;
		 clear:both;
		 padding-bottom:20px;
	}
	.procesInput label, .input_title > span, .input_title > #result{
		font-weight: bold;
		color:rgb(33, 33, 33);
		margin:.5% 4%;
		float:left;
	}
	.input_title{
	     overflow:hidden;
	  border:solid 1px rgba(0,0,0,0);
	}
	/* #input_title:hover{
		border-left:solid 4px #AEA6A6;		
	} */
	/**
	 Inputs
	*/
	input[type="button"]{
		display:block;
		cursor:pointer;
	}
	input[type="text"]{
		font-size: 0.9em;
		height: 30px;
		padding-left: 1%;
		border: none;
	}
	.urlLoader input[type="text"]{
		width: 98%;
		margin: 4px auto;
		border: none;
	}
	.procesInput input[type="text"], .procesSelect, button#button-selectFeatures, button#button-bbox{
	    position:relative;
		float:right;
		margin:.5% 4%;
	} 
	.urlLoader input[type="submit"]{
		display: block;
		margin: 0px auto;
		width: 40%;
		font-weight: bold;
		height: 30px;
		font-size: 0.9em;
	}
	.urlLoader input[type="submit"]:disabled{
		background-color: #A8BDA8;
        border: solid 1px rgb(100,100,100);
	}
	input[type="submit"]{
		background-color: #5BE45B;
        border: solid 1px #32A532;
		cursor:pointer;
		color:#053905;
	}
	input[type="submit"]:hover{
		 background-color:#07B407;
	}
	.procesInput input[type="submit"]{
	     background: #5BE45B url("../icons/execute.png") no-repeat left 4px;
         width: 500px;
		 max-width:90%;
         height: 50px; 
         clear: both;
		 margin: 0px auto;
		 font-size: 2em;
		 display:block; 
    }
	.procesInput input[type="submit"]:disabled{
	    background-color: #A8BDA8;
		border: solid 1px rgb(100,100,100);
    }
	/*
	.off_plus{
		margin: 0px auto;
		background-color: #A8BDA8;
		border: solid 1px rgb(100,100,100);
		text-align: center;
		font-weight: bold;
		height:30px;
		width:40%;
		font-size:0.9em;
		box-sizing:border-box;
		line-height:27px;
	}
	*/
	/*
	Forms
	*/
	 /**/
	#processContainer{
		position:relative;
		width:97%;
		margin: 0px auto;
		overflow:hidden
	}
        .metadat{
		 max-width:100%;
		 padding-bottom:20px;
		 height:auto;
		 position:relative;
		 margin: 4px auto;
		 width:800px;
		 float:left;
		   background: none repeat scroll 0% 0% rgba(234, 233, 233, 0.8);
	  }
	  .nameid{
	     width:86%;
		 height:auto;
		 position:relative;
		 margin: 0px auto;
		 clear:both;
	  }
	  .abstract{
	     width:70%;
		 position:relative;
		 border-width: 2px;
         padding: .5% 5.5%; 
		/*  -moz-border-radius: 10px;
		  -webkit-border-radius: 10px;
		  -o-border-radius: 10px;
		  -ms-border-radius: 10px; 
         border-radius: 10px;*/
		margin:0px auto;
		  background: none repeat scroll 0% 0% rgba(234, 233, 233, 0.8);
	  }
	  .input_abstract{
	  background: none repeat scroll 0% 0% rgba(234, 233, 233, 0.8);
	  width:70%;
	  text-align:center;
	  border-width: 2px;
      margin-bottom:1%;	  
	}
	.input_abstract:before{
		content: "?";
		border: inherit;
  /* left: 11px; */
  /* top: calc(50% - 10px); */
  /* transform: rotate(45deg); */
		z-index: -1;
  /* color: rgb(0, 0, 0); */
		margin: 18px;
	}
	  /*
	  #input_title:hover + .input_abstract, .input_title:active + .input_abstract{
		  display:block;  
	  }*/
	/*
	Buttons
	*/
	#options button{
		display:block;
		margin:4px auto;
		width:200px;
		max-width:65%;
		border:none;
		background-color: #AEA6A6;
		-webkit-border-radius: 4px;
	 -moz-border-radius: 4px;
	 -o-border-radius: 4px;
	 -ms-border-radius: 4px;
	border-radius:4px;
	}
	#button-selectFeatures{
	    background-image: url("../icons/selected.png");
	}
	#button-selectFeatures:disabled{
		background-image: url("../icons/smallLoader.GIF");
		background-color: #A8BDA8;
	}
	.procesInput button{
		background-repeat: no-repeat;
		background-position:left;
		background-color:#3BD748;
		width:200px;
		text-align:center;
		font-size:1em;
		border:none;
		padding:2px;
	}
	.procesInput button:hover{
	   background-color:#8CEF94;
	}
	 .off_div{ /*Div for disabled button*/
         background-color: #A8BDA8;
         border: solid 1px rgb(100,100,100);
         width: 500px;
		 max-width:90%;
         height: 50px;
         clear: both;
		 text-align:center;
		 padding-top:.5%;
		 margin: 0px auto;
		 font-size: 2em;
		 box-sizing:border-box;
	}
	/*
	Messages and errors
	*/
	.output_message{
	   font-weight: bold;
	   background-color: rgb(39, 116, 165);
       width:44.5%; 
       word-wrap: break-word;
       text-align:center;
	   float: left;
	   position: relative;
	   color:#FFF;
	   font-size:0.9em;
	   padding: 8px 0px;
	}
	.error_message{
	    color:#D54343; 
		margin:.5% 4%;
	}
	.small_error_message{
		clear: both;
		position: relative;
		font-size: 0.9em;
		text-align: center;
		/*float: right;*/
		background-color: #D54343;
		color: #FFF;
		font-weight: 700;
		padding: 4px;
	}
	.blue_error_message{
		background-color:#2774A5;
	}
	.colored_border{
		border:solid 1px #D54343 !important;		
	}
	/*
	Footer
	*/
	#footer{
		background: none repeat scroll 0% 0% rgba(234, 233, 233, 0.8);
		padding:4%;
	}
	#footer h2{
		margin: 3px;
	}
	#footer ul li{
		display: inline-block;
		padding-right: 5%;
	}
	#footer a{
		color: inherit;
	}
	#footer a:hover{
		color: #5BE45B;
	}
	/*
        popup
        */
.ol-popup {
  position: absolute;
  background-color: rgba(234, 233, 233, 0.8);
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 15px;
  border-radius: 10px;
  bottom: 12px;
  left: -50px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: rgba(234, 233, 233, 0.8);
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
#popup-content{
    white-space:nowrap;
}
	/*
	BBOX map control
	*/
	.bbox-control{
    position: absolute;
    top: calc(.5em + 2px + 8px + 5em);
    left: .5em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    padding: 2px;
	overflow:hidden;
	}
	.bbox-control:hover{
		background:none;
	}
	.bbox-button{
	float:left;
	}
	.bbox-icon{
		margin: 0px auto;
		width: 73%;
		height: 76%;
		border-left: 1px solid #212121;
		border-bottom: 1px solid #212121;
	}
	.bbox-icon:after{
		content: "";
		display: inherit;
		border-right: 3px solid #212121;
		border-top: 3px solid #212121;
		width: 45%;
		height: 45%;
		float: right;
	}
	.ol-control > div.bboxcont{
		background-color: rgba(234, 233, 233, 0.8);
		overflow:hidden;
		height:0px;
		visibility:hidden;
		 padding: 6.5%;
		  margin-left:20%;
		 -webkit-transition: height 300ms linear;
	  -moz-transition: height 300ms linear;
	  -o-transition: height 300ms linear;
	  -ms-transition: height 300ms linear;
	  transition: height 300ms linear;
	}
	div.bboxcont p{
	    font-size:14px;	
	}
	div.bboxcont p span{
		font-weight:700;
	}
	.heighter{
	   visibility:visible !important;
	   height: 73px !important;
	}
	/*
	Layer switcher and attribution
	*/
	.ol-attribution{
		bottom: .5em;
		left: .5em;
	}
	.ol-layerSwitcher{
		color:#212121;
		right:.5em;
		top:.5em;
		width:45%;
		overflow:hidden;
		max-width:36px;
	  -webkit-transition: max-width 300ms linear;
	  -moz-transition: max-width 300ms linear;
	  -o-transition: max-width 300ms linear;
	  -ms-transition: max-width 300ms linear;
	  transition: max-width 300ms linear;
	}
	.ol-layerSwitcher:not(.ol-collapsed){
		background:rgba(234, 233, 233, 0.8);
		height:auto;
		max-width:1000px;
	}
	.ol-layerSwitcher-main-button{
		background-image:url(../icons/maps-and-geolocation-layers-icon.png);
	}
	.ol-layerSwitcher button{
		float:right;
		background-repeat: no-repeat;
		background-position:center;
		width:34px;
		height:34px;
	}
	/* .ol-layerSwitcher > ul{
		margin-left:20px;
	} */
	.ol-layerSwitcher li:not(#header-layer-li){
		white-space: nowrap;
		cursor:pointer;
		margin:.1em 0px;
		padding:1%;
		clear: both;
		overflow: hidden;
		background-color: rgba(255, 255, 255, 0.3); 
		-webkit-transition: background-color 400ms linear;
	  -moz-transition: background-color 400ms linear;
	  -o-transition: background-color 400ms linear;
	  -ms-transition: background-color 400ms linear;
	  transition: background-color 400ms linear;
	}
	.ol-layerSwitcher li:not(#header-layer-li):hover{
		/* color: #AEA6A6; */
		background-color:#DBDBDB
	}
	.ol-layerSwitcher li:hover .ol-layerSwitcher-buttons > .ol-selecter{
		background-color:#3BD748;
	}
	.ol-layerSwitcher li:hover .ol-layerSwitcher-buttons > .ol-layerSwitcher-remove{
		background-color:#FF8282;
	}
	.ol-layerSwitcher li:hover .ol-layerSwitcher-buttons > .ol-layerSwitcher-save{
		background-color:#FF9D1B;
	}
	.ol-layerSwitcher li#header-layer-li{
		line-height: 30px;
		height: 34px;
		font-size:1.2em;
		color:#605E5E;
		white-space:nowrap;
	}
	.ol-layerSwitcher span#header-layer{
		display: inline-block;
		vertical-align: middle;
	}
	.ol-layerSwitcher span#layer-title{
		font-size:.9em;
		margin-left:4%;
	}
	.ol-layerSwitcher.ol-collapsed > ul{
		display:none;
	}
	.ol-layerSwitcher-button{
		background-color:#AEA6A6;
		margin-left: 2%;
		float:left;
		font-size: 0.9em;
		border:none
	}
	.ol-layerSwitcher-remove:hover{
		background-color: #FFCACA !important;
	}
	.ol-layerSwitcher-save:hover{
		background-color: #FEC57A !important;
	}
	
	.ol-selecter:hover{
		background-color:#8CEF94 !important;
	}
	#ol-scroll-layers{
		overflow: auto; overflow-y: auto; overflow-x: hidden; width: 100%; max-height: 222px;
	}
	.ol-control{
	    background:none;
	}
	.ol-control button:focus, .ol-control button:hover{
		background-color:rgb(255,255,255);
	}
	.ol-control button{
		cursor:pointer;
		color:#212121;
		background-color: rgba(255, 255, 255, 0.8);
		-webkit-transition: background-color 400ms linear;
	  -moz-transition: background-color 400ms linear;
	  -o-transition: background-color 400ms linear;
	  -ms-transition: background-color 400ms linear;
	  transition: background-color 400ms linear;
	}
	.ol-border-grey{
		border: solid 1px #AEA6A6
	}
	.ol-attribution:not(.ol-collapsed){
		background:rgba(234, 233, 233, 0.8);
		border: solid 1px #AEA6A6;
		height:auto;
	}
	/*
	ol control Edit Tool
	*/
	.ol-editTool{
		top: calc(.5em + 2px + 8px + 5em + 3.5em);
		left: .5em;
	}
	.ol-editTool button:first-child{
		-webkit-border-radius: 2px 2px 0px 0px;
		-moz-border-radius: 2px 2px 0px 0px;
		-ms-border-radius: 2px 2px 0px 0px;
		-o-border-radius: 2px 2px 0px 0px;
		border-radius: 2px 2px 0px 0px;
	}
	.ol-editTool button{
		-moz-border-radius: 0px 0px 0px 0px;
		-webkit-border-radius: 0px 0px 0px 0px;
		-o-border-radius: 0px 0px 0px 0px;
		-ms-border-radius: 0px 0px 0px 0px;
		border-radius: 0px 0px 0px 0px;
	}
	.ol-editTool button:last-child{
		-webkit-border-radius: 0px 0px 2px 2px;
		-moz-border-radius: 0px 0px 2px 2px;
		-ms-border-radius: 0px 0px 2px 2px;
		-o-border-radius: 0px 0px 2px 2px;
		border-radius: 0px 0px 2px 2px;
	}
	.ol-point{
		background-color: #212121;
		width: 6px;
		height: 6px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
	}
	.ol-point:first-child{
		margin-left:21%;
	}
	.ol-point:last-child{
		margin-left:55%;
	}
	.ol-line{
		background-color: #212121;
		width: 53%;
		height: 2px;
		-webkit-transform: rotate(65deg);
		transform: rotate(65deg);
		margin: -5px auto;
	}
	.ol-line:after{
		content: "";
		display: inline-block;
		background-color: inherit;
		width: 96%;
		height: inherit;
		-webkit-transform: rotate(85deg);
		transform: rotate(85deg);
		margin: 7px;
	}
	.ol-polygon{
		width: 35%;
		height: 70%;
		background-color: #212121;
		margin: 0px 20%;
	}
	.ol-polygon:after{
		content: "";
		background-color: inherit;
		display: block;
		height: 33%;
		width: 170%;
	}
	/*
	ajax loaders
	*/
	.loaderBackShow{
		z-index: 5; 
		position: absolute; 
		background-color: rgba(0, 0, 0, 0.1); 
		width: 100%; 
		height: 100%;
		opacity:1;
		text-align:center;
	}
	.loaderBack span{
		vertical-align:middle;
		display: inline-block;
		height:100%;
	}
	.loaderimg{ /*http://stackoverflow.com/questions/7273338/how-to-vertically-align-an-image-inside-div*/
		vertical-align: middle;
		width:20px;
		max-height: 100%;
		max-width: 100%;
	}
	/*
	@media rules
	*/
	@media (max-width: 992px){
	/*
	@global classes
	*/
	.max-tablet-display-block{
		display: block;
	}
	/*
	@js
	*/
		/*
		Toggle menu.
		*/
	nav:not(.menu-show) ul{
		max-height:0px;
	}
	nav.menu-show ul{
		max-height: 500px;
	}
	/*
	@private
	*/
	#nav{
		position:relative;
		padding: 21% 1%;
		margin-right: 10px;
		margin-top: 2px;
		background-color:#5BE45B;
	}
	ul#menu{
		position: absolute;
		background-color:rgba(234, 233, 233, 0.8);
		right: 0px;
		top:57px;
	}
	ul#menu li{
		float:none;
  /*border-right:solid 1px rgb(139,139,195);
  border-bottom:solid 1px rgb(139,139,195);*/
	}
}
/*
MEDIA FOR DESKTOP bootstrap
*/
@media (min-width: 993px ){
	.max-tablet-display-block{
		display: none;
	}
}
	@media (max-width: 1226px){
	#loader{
		float:none;
		width:800px;
		max-width:100%;
		margin:0px auto 20px auto;
	}
	#formContainer{
		max-width:100%;
		margin:0px auto;
		float:none;
	}
	   .metadat{
		float:none;
	  }
	}
