/*
	ol control Edit Tool
	*/
	.ol-editTool{
		top: 95px;
		left: 8px;
	}
	.ol-editTool button:first-child{
		-webkit-border-radius: 2px 2px 0px 0px;
		-moz-border-radius: 2px 2px 0px 0px;
		-ms-border-radius: 2px 2px 0px 0px;
		-o-border-radius: 2px 2px 0px 0px;
		border-radius: 2px 2px 0px 0px;
	}
	.ol-editTool button{
		-moz-border-radius: 0px 0px 0px 0px;
		-webkit-border-radius: 0px 0px 0px 0px;
		-o-border-radius: 0px 0px 0px 0px;
		-ms-border-radius: 0px 0px 0px 0px;
		border-radius: 0px 0px 0px 0px;
	}
	.ol-editTool button:last-child{
		-webkit-border-radius: 0px 0px 2px 2px;
		-moz-border-radius: 0px 0px 2px 2px;
		-ms-border-radius: 0px 0px 2px 2px;
		-o-border-radius: 0px 0px 2px 2px;
		border-radius: 0px 0px 2px 2px;
	}
	.ol-point{
		background-color: #212121;
		width: 6px;
		height: 6px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
	}
	.ol-point:first-child{
		margin-left:21%;
	}
	.ol-point:last-child{
		margin-left:55%;
	}
	.ol-line{
		background-color: #212121;
		width: 53%;
		height: 2px;
		transform: rotate(65deg);
		margin: -5px auto;
	}
	.ol-line:after{
		content: "";
		display: inline-block;
		background-color: inherit;
		width: 96%;
		height: inherit;
		transform: rotate(85deg);
		margin: 7px;
	}
	.ol-polygon{
		width: 35%;
		height: 70%;
		background-color: #212121;
		margin: 0px 20%;
	}
	.ol-polygon:after{
		content: "";
		background-color: inherit;
		display: block;
		height: 33%;
		width: 170%;
	}