/*
Style for layer switcher.
*/
.ol-border-grey{
		border: solid 1px #AEA6A6
}
.ol-layerSwitcher{
		color:#212121;
		right:.5em;
		top:.5em;
		width:45%;
		overflow:hidden;
		max-width:36px;
	  -webkit-transition: max-width 300ms linear;
	  -moz-transition: max-width 300ms linear;
	  -o-transition: max-width 300ms linear;
	  -ms-transition: max-width 300ms linear;
	  transition: max-width 300ms linear;
	}
	.ol-layerSwitcher:not(.ol-collapsed){
		background:rgba(234, 233, 233, 0.8);
		height:auto;
		max-width:1000px;
	}
	.ol-layerSwitcher button{
		float:right;
		background-image: url("icons/maps-and-geolocation-layers-icon.png");
		background-repeat: no-repeat;
		background-position:center;
		width:34px;
		height:34px;
	}
	/* .ol-layerSwitcher > ul{
		margin-left:20px;
	} */
	.ol-layerSwitcher li:not(#header-layer-li){
		cursor:pointer;
		white-space:nowrap;
		margin:.1em 0px;
		padding:1%;
		background-color: rgba(255, 255, 255, 0.3); 
		-webkit-transition: background-color 400ms linear;
	  -moz-transition: background-color 400ms linear;
	  -o-transition: background-color 400ms linear;
	  -ms-transition: background-color 400ms linear;
	  transition: background-color 400ms linear;
	}
	.ol-layerSwitcher li:not(#header-layer-li):hover{
		/* color: #AEA6A6; */
		background-color:#DBDBDB
	}
	.ol-layerSwitcher li:hover > #ol-selecter{
		background-color:#3BD748;
	}
	.ol-layerSwitcher li#header-layer-li{
		line-height: 30px;
		height: 34px;
		font-size:1.2em;
		color:#605E5E;
		white-space:nowrap;
	}
	.ol-layerSwitcher span#header-layer{
		display: inline-block;
		vertical-align: middle;
	}
	.ol-layerSwitcher span#layer-title{
		font-size:.9em;
		margin-left:4%;
	}
	.ol-layerSwitcher.ol-collapsed > ul{
		display:none;
	}
	#ol-selecter{
		background-color:#AEA6A6;
		font-size: 0.9em;
		border:none;
	}
	#ol-selecter:hover{
	background-color:#8CEF94 !important;
	}
	#ol-scroll-layers{
		overflow-x:hidden; overflow-y: auto; width: 100%; max-height: 222px;
	}